<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zadanie3.Properties.Settings.AdventureWorks2014ConnectionString"
            connectionString="Data Source=DESKTOP-GOUFL1F;Initial Catalog=AdventureWorks2014;User ID=sa;Password=moja"
            providerName="System.Data.SqlClient" />
        <add name="Zadanie3.Properties.Settings.AdventureWorks2014ConnectionString1"
            connectionString="Data Source=DESKTOP-GOUFL1F;Initial Catalog=AdventureWorks2014;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>